* {box-sizing:border-box}

a:link {
    color: yellow;
}

a:visited {
    color: pink;
}

a:hover {
    color:white;
}

a:active {
    color:yellow;
}


/* Body */
body {
    font-size: 30px;
    margin: 0%;  /* This ensures our site displays all the way to the edge of the browser screen */
}

.Background {
    background-color: #05031f;
}

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: #05031f; /* This colors the navbar royal blue */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 1; /* This ensures other elements don't display over the navbar */
    -webkit-animation: moveNav 5s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 5s; /* This applies the moveNav animation for all other browsers */
    border-bottom:1px solid rgb(255, 255, 255);

}



/* Navbar links */
.Navbar a {
    float: right; /* This specifies that the text floats on the left on the navbar */
    display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: rgb(209, 209, 209); /* This is the font color for text on our navbar */
    font-weight: bold;
    text-transform: uppercase; /* Capitalizing all text */
    padding: 25px 20px; /* This adds padding around our text */
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-family: Icons, Avant Garde, Helvetica; /* This specifies the font family for text on our navbar */
    font-size: 34px; /* This specifies the font size for text on our navbar */
    text-align: center; /* This centers the text within its container */
    /*position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 5.75s; /* Animation for Safari 4.0 - 8.0 */
    animation: moveNavText 5.75s; /* Applies the moveNavText animation for 5.75s */ 

}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    color: rgb(55, 53, 70); /* This defines the font color that will display when navbar a elements are hovered over */
}

/* Navbar home button */
.Navbar a.active { /* This targets the a element on the navbar with the "active" class */
    color: rgb(55, 53, 70);
}

/***** END OF NAVBAR STYLING *****/

h1 {
    text-transform: uppercase; /* Capitalizing all h1 headings */
    font-family: Icons, "Trebuchet MS", Optima; /* Sets the font family of all h1 headings */
    font-size: 66px;
    text-align: left;
    font-style: italic;
    margin-left: 3%;
    margin-top: 3%; /* Adds a small margin above h1 elements */
    color: #ffffff;  
}

h3 {
    text-transform: uppercase; 
    font-family: Icons, "Trebuchet MS", Optima; 
    font-size: 42px;
    text-align: left;
    margin-left: 3%;
    color: #ffffff;   
    font-weight: 10;
}

h5 {
    font-family: Icons, "Trebuchet MS", Optima; 
    font-size: 32px;
    text-align: left;
    margin-left: 3%;
    color: #ffffff;   
    font-weight: 10;
}

/***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
} 

.Column_1 {
    float: left;
    width: 55%;
    padding: 10px;
    padding-top: 1.5%;
    height: 800px;
}

.Column_2 {
    float: left;
    width: 45%; /* This ensures the column takes up half of the page width */
    padding: 10px;
    padding-top: 3%; /* This ensures there is space between the top of the column and our headings */
    height: 800px; /* This sets the height of the column to 400px -  this may need to be adjusted depending on the text you enter */
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_2 {
        overflow: auto;
    }
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row {
    display: block;
    border-bottom:1px solid rgb(255, 255, 255);
    color: #ffffff;
    font-size: 30px;  
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
	content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/***** END OF TABLE STYLING *****/

/* Image elements */
img {
    filter: grayscale(75%); /* This rids our pictures of 75% of their color */
    border-radius: 8px; /* Gives all images slightly rounded corners */
    max-width: 100%; /* Ensures all images stay within the width of their container */
    height: 600px; /* Sets the height of all images */
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin-left: auto; /* In combination with "margin-right: auto" this centers all images */
    margin-right: auto;
}

/* Image element hover effects */
img:hover {
	filter: grayscale(5%);  /* Brings back most of the image's color when hovered over */
    transition: transform 1s; /* Transition lasts 1 second */
	transform: scale(1.1); /* Image is increased slightly when hovered over */
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Slideshow container */
.slideshow-container {
    max-width: 1800px;
    position: relative;
    margin: auto;
}

/* .mySlides {
    overflow: hidden;
  } */

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }